<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Contact</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>
<body>

	<div class="about">
		<h2>CONTACT:</h2>
		<p>Developer: Connor McArdle</p>
		<p>Location: St. Paul, MN</p>
		<p>e-mail: Connor@herbology.com</p>
		<p>Phone: 492-555-5555</p>
	</div>

	<!-- FOOTER -->
	<div class="site-footer">
		<div class=footer-container>
			<a href="/users">Home</a>
		</div>
		<div class=footer-container>
			<a href="/about">About</a>
		</div>
		<div class=footer-container>
			<a href="/contact">Contact</a>
		</div>
	</div>
</body>
</html>