<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up - CodeJava</title>
<link rel="stylesheet" type="text/css" href="css/styles.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="about">
		<div>
			<h1>Herbology User Registration</h1>
		</div>
		<form th:action="@{/process_register}" th:object="${user}"
			method="post" style="max-width: 600px; margin: 0 auto;">
			<div>
				<div>
					<label>E-mail: </label>
					<div>
						<input type="email" th:field="*{email}" class="form-control"
							required />
					</div>
				</div>

				<div>
					<label>Password: </label>
					<div>
						<input type="password" th:field="*{password}" class="form-control"
							required/>
					</div>
				</div>

				<div>
					<label>First Name: </label>
					<div>
						<input type="text" th:field="*{firstName}" class="form-control"
							required/>
					</div>
				</div>

				<div>
					<label>Last Name: </label>
					<div>
						<input type="text" th:field="*{lastName}" class="form-control"
							required/>
					</div>
				</div>

				<div style="margin-bottom:20px;">
					<button type="submit">Sign Up</button>
				</div>
			</div>
		</form>
	</div>
	
	<!-- FOOTER -->
	<div class="site-footer">
		<div class=footer-container>
			<a href="/users">Home</a>
		</div>
		<div class=footer-container>
			<a href="/about">About</a>
		</div>
		<div class=footer-container>
			<a href="/contact">Contact</a>
		</div>
	</div>
</body>
</html>